.divPagina{
    margin: 0px;
    padding: 0px;
  a {
    color: var(--clr-text);
  }
  p {
    color: var(--clr-text-secondary);
  }
  h1 {
    color: var(--clr-text);
  }
  h2 {
    color: var(--clr-text);
  }
  h3 {
    color: var(--clr-text);
  }
  h5 {
    color: var(--clr-text);
  }
  .text {
    color: var(--clr-text);
  }
  .text:hover {
    color: var(--clr-laranja);
  }

 
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; */

}